.sn-hovercard {
  background-color: #FFF;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #CCC;
  display: none;
  font-size: small;
  position: absolute;
  width: 235px;
}

.sn-hovercard img {
  left: 5px;
  position: absolute;
  top: 5px;
}

.sn-hovercard h2, .sn-hovercard h3 {
  font-size: medium;
  margin: 0;
}

.sn-hovercard .hc-content {
  margin-left: 58px;
  margin-top: 5px;
  padding: 5px;
}

.sn-hovercard .hc-bio, .sn-hovercard .hc-status {
  display: block;
  margin-bottom: 8px;
}

.sn-hovercard .hc-actions {
  background-color: #EEE;
  border-top: 1px solid #CCC;
  border-radius: 0 0 5px 5px;
  padding: 5px;
}

.sn-hovercard .hc-follow-form {
  margin-top: 5px;
}

.sn-hovercard fieldset {
  border: none;
}

.sn-hovercard .hc-follow-form button {
  margin-top: 5px;

}

#hc-profile {
  margin-bottom: 5px;
}


